services:
  mongo:
    container_name: mongo_sumac
    image: docker.io/mongo:7.0.31-rc1-jammy
    restart: unless-stopped
    volumes:
      - /opt/mongodb/data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD={{ mongo_password }}
      - MONGO_INITDB_DATABASE=openedx
    ports:
      - "27017:27017"
    command: mongod --wiredTigerCacheSizeGB 10
    deploy:
      resources:
        limits:
          memory: 20G
        reservations:
          memory: 4G
